[MESSAGES CONTROL]
disable=trailing-newlines,unused-wildcard-import,invalid-name,multiple-statements,too-many-arguments,too-many-return-statements,no-else-return,eval-used,too-many-public-methods,unspecified-encoding,too-many-branches,too-many-locals,too-many-instance-attributes,too-few-public-methods,unnecessary-lambda-assignment,duplicate-code,use-implicit-booleaness-not-comparison

[TYPECHECK]
generated-members=cv2.*
