attrs==22.1.0
cffi==1.15.1
coverage==6.5.0
exceptiongroup==1.0.4
iniconfig==1.1.1
llvmlite==0.39.1
numba==0.56.4
numpy==1.23.5
opencv-python==4.6.0.66
packaging==21.3
pdf2image==1.16.0
Pillow==9.3.0
pluggy==1.0.0
progressbar2==4.2.0
pycparser==2.21
pyparsing==3.0.9
pytest==7.2.0
python-utils==3.4.5
scipy==1.9.3
soundfile==0.11.0
tomli==2.0.1
