numba>=0.56.4
opencv-python>=4.6.0.66
pdf2image>=1.16.0
progressbar2>=4.2.0
pylint>=2.15.6
pytest>=7.2.0
rosbags>=0.10.4
scipy>=1.9.3
soundfile>=0.11.0
vosk>=0.3.45
pylint>=4.0.2
pytest>=8.4.2
pyttsx4>=3.0.15
coverage>=7.0
